

services:
  api:
    image: bookstore-api
    depends_on:
      - sqlserver
      - minio

  sqlserver:
    image: mcr.microsoft.com/mssql/server:2022-latest
    volumes:
      - sql_data:/var/opt/mssql

  minio:
    image: minio/minio
    command: server /data --console-address ":9090"
    volumes:
      - minio_data:/data

volumes:
  sql_data:
  minio_data:
